
.open-sans-x{
  font-family: "Open Sans", sans-serif;
}

.merriweather-y{
  font-family: "Merriweather", serif;
}
.a{
    background-image:linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(../images/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-top: 30px;
    border-radius: 16px;
    margin-left: 140px;
    margin-right: 139px;
}
.d{
    margin-top: 140px;
    justify-items: center;
    position:absolute;
    margin-left: 420px;
}
.b{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 200px;
    margin-bottom: -15px;
    opacity: 0.8;
}
.c{
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-weight: 900px;
}
#a{
    margin-left: 75px;
}
.e{
color: rgb(255, 0, 0);
font-size: 80px;
font-weight: 700;
line-height: 107px;
letter-spacing: 0%;
margin-left: 600px;
margin-right: 599px;
margin-top: 80px;
}
.f{
    font-size: 20px;
    font-weight: 500px;
    color: rgb(255, 0, 0);
    margin-left: 600px;
    margin-right: 599px;
    line-height: 29px;
}
.g{
    color: rgb(7, 2, 17);
font-size: 38px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
margin-left: 600px;
margin-right: 599px;
}
.h{
height: 500px;
margin-top: 48px;
margin-left: 400px;
margin-right: 399px;
margin-bottom: 120px;
/* margin-right: 410px; */
}
.k{
    background-image:linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(../images/Vectorrr.png);
    border-radius: 16px;
background-repeat: no-repeat;
width: 1320px;
height: 600px;
margin-left: 140px;
margin-right: 139px;
}
.k .l{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11px;
    padding:100px;
}
.k .m{
    color: rgba(255, 255, 255, 0.8);
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
/* text-align: center; */
position: absolute;
/* text-align: left; */
}
.p{
    padding:300px;
    margin-left: -200px;
}
.n{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
}
.q{
width: 1320px;
height: 482px;
margin-top: 120px;
margin-left: 140px;
margin-right: 141px;
position: absolute;
 border-radius: 16px;
background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}
.aa{
    color: rgb(255, 0, 0);
}
.text-align{
    text-align: center;
    font-size: 32px;
font-weight: 700;
}
.ee{
margin-top: 100px;
}
.u{
border-radius: 8px;
background: rgb(255, 0, 0);
width: 167px;
height: 56px;
padding: 16px 32px 16px 32px;
color:rgb(255, 255, 255);
font-size: 15px;
font-weight: 700;
border: none;
margin-left: 560px;
margin-top: 50px;
margin-right: 559px;
}
.a1{
    display: flex;
    margin-top: 850px;
margin-left: 140px;
margin-right: 140px;
}
.a2{
    margin-right: 150px;
}
.a3{
    margin-right: 160px;
    box-sizing: border-box;
border: 15px solid rgb(255, 0, 0);
border-radius: 250px;
padding: 30px;
width: 450px;
height: 450px;
}
.a2 h3{
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 600;
}
.a2 h1{
   font-size: 48px;
   font-weight: 900;
   line-height: 60px; 
}
.a2 p{
    color: rgba(7, 2, 17, 0.6);
font-size: 20px;
font-weight: 400;
line-height: 32px;
}
.a4 h1{
    color: rgb(255, 0, 0);
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
}
.a4 p{
    color: rgba(7, 2, 17, 0.6);
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
}
.a4 img {
margin-top: 30px;
}
.text1{
    color: rgb(7, 2, 17);
font-size: 24px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0%;
}
.text2{
font-size: 72px;
font-weight: 900;
line-height: 91px;
letter-spacing: 0%;
}
.text3{
color: rgba(7, 2, 17, 0.6);
font-size: 20px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0%;
}
.text4{
    color: rgb(255, 0, 0);
}
.text{
    margin-top:150px;
    margin-left: 480px;
    margin-right: 400px;
}
.pic-a{
position: absolute;
width: 1320px;
height: 229px;
left: 140px;
right: -140px;
top: 4458px;
bottom: -3924.93px;
border-radius: 16px 0px 16px 16px;
background: rgb(255, 0, 0);
}
.pic-b{
position: absolute;
width: 674.82px;
height: 577.96px;
left: 200.83px;
right: -200.83px;
top: 4025px;
bottom: -3925px;
}
.pic-c{
position: absolute;
width: 305.69px;
height: 305.69px;
left: 1114px;
right: -99.69px;
top: 4102px;
bottom: -3321.62px;
}
.gift1 h3{
color: rgb(255, 0, 0);
font-size: 24px;
font-weight: 600;
letter-spacing: 0%;
}
.gift1 h1{
color: rgb(7, 2, 17);
font-size: 48px;
font-weight: 900;
line-height: 30px;
letter-spacing: 0%;
}
.gift1 p{
color: rgba(7, 2, 17, 0.6);
font-size: 20px;
font-weight: 400;
letter-spacing: 0%;
}
.gift1{
    margin-top: 800px;
    margin-left: 140px;
}
.gift2{
    margin-bottom: 24px;
    margin-top: 48px;
    margin-left: 140px;
    margin-right: 80px;
}
.gift3{
    margin-left: 140px;
    margin-right: 80px;
    margin-bottom:120px;
}
.gift5 {
margin-right: 24px;
}
 .gift6{
    margin-right: 24px;
 }
 .gift7{
    margin-right: 24px;
 }
 .gift8{
    margin-right: 24px;
}
.bg{
width: 1320px;
height: 616px;
left: 140px;
right: -140px;
top: 5990.07px;
bottom: -5990.07px;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
margin-top: 250px;
margin-bottom: 120px;
margin-left: 140px;
margin-right: 139px;
}
.bg-pic img{
width: 150px;
height: 150px;
margin-left: 585px;
margin-right:584px;
margin-top:70px;
/* margin-bottom:16px; */
}
.bg-text h1{
color: rgb(7, 2, 17);
font-size: 48px;
font-weight: 900;
text-align: center;
text-transform: capitalize;
}
.bg-text p{
color: rgba(7, 2, 17, 0.6);
font-size: 20px;
font-weight: 400;
/* line-height: 32px; */
letter-spacing: 0%;
text-align: center;
padding:0px 150px;
}
.btn{
 display:flex;
 justify-content: center;
 margin-top: 60px;
 margin-left: 150px;
 margin-right: 150px;
}
#email1
{
border-radius: 50px 0px 0px 50px;
background: rgb(255, 255, 255);
width: 448px;
height: 72px;
left: 476px;
right: -476px;
top: 6454.07px;
bottom: -6454.07px;
border:none;
color: rgba(7, 2, 17, 0.3);
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
padding: 0px 50px;
}
#subscribe1{
width: 210px;
height: 72px;
left: 914px;
right: -914px;
top: 6454.07px;
bottom: -6454.07px;
border-radius: 0px 50px 50px 0px;
background: rgb(255, 0, 0);
border: none;
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-transform: capitalize;
cursor: pointer;
}
.f-bg1{
    display:flex;
    margin-left: 140px;
}
.f-bg4{
    display: flex;
    margin-left: 140px;
}
.f-bg2{
    color: rgb(255, 255, 255);
font-size: 24px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
margin-right: 700px;
margin-top: 120px;
}
.f-bg3{
color: rgb(255, 255, 255);
font-size: 24px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
margin-top: 120px;
}
.f-bg5{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
margin-top: 100px;
margin-right: 800px;;
}
.f-bg6{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
margin-top: 100px;
}
.f-bg{
background: rgb(7, 2, 17);
/* position: absolute; */
width: 1600px;
height: 609px;
left: 0;
right: 0;
top: 6726.07px;
bottom: -6726.07px;
}
.icon{
    text-align: center;
}